<!-- Contains menu code -->
<div class="menu">
<ul>
{% for link in site.navigation %}
       {% assign current = link.url | prepend: site.baseurl %}
       {% assign url = page.url | prepend: site.baseurl %}
       <li{% if url == current %}
       class="current"
       {% endif %}><a href="{{link.url | prepend: site.baseurl }}"
       {% if link.target != null %}
        target="{{link.target}}"
       {% endif %}>
       {% if link.icon != null %}
          <i class="fa {{ link.icon }}"></i>
       {% endif %}{{link.text}}</a></li>
{% endfor %}
</ul>
</div>
